* {
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  min-height: 100vh;
}

.app__body {
  width: 90vw;
  height: 90vh;
  background-color: #ededed;
  display: flex;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.8);
}
